.contacts {
    width: 100%;
    margin-top: 73px;

    @include responsive(mobile) {
        margin-top: 10px;
    }

    .contacts-label {
        font-size: 72px;
        font-weight: normal;
        line-height: 100%;
        letter-spacing: -0.179375px;
        color: $text-black;

        @include responsive(mobile) {
            font-size: 48px;
            line-height: 49px;
        }
    }

    .circle-blue {
        display: inline-block;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background-color: $bg-blue;
        margin-right: 25px;

        @include responsive(mobile) {
            width: 52px;
            height: 52px;
            margin-bottom: -10px;
            margin-right: -8px;
            margin-left: -8px;
        }
    }

    &__inner {
        margin-top: 75px;
        margin-bottom: 118px;
        @include flex(row);
        align-items: flex-end;

        @include responsive(mobile) {
            margin-top: 52px;
            margin-bottom: 48px;
        }

    }

    &__address {
        margin-bottom: 10px;
        margin-right: 11px;
        font-size: 22px;
        line-height: 106%;
        letter-spacing: -0.1px;
        color: $text-black;

        @include responsive(mobile) {
            margin-top: 18px;
            margin-left: -8px;
        }
    }

    .address-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 106%;
        margin-bottom: 13px;
    }

    .address-address,
    .email,
    .email a {
        font-family: "Roboto", sans-serif;
    }

    .email {
        margin-top: 54px;

        @include responsive(mobile) {
            margin-top: 16px;
        }

        a {
            font-size: 22px;
            line-height: 106%;
            letter-spacing: -0.1px;
            color: $text-black;
        }
    }

    &__cart {
        width: 792px;
        height: 402px;
        border-radius: 29px;
        background-color: $bg-gray-2;
        position: relative;
        overflow: hidden;

        @include responsive(mobile) {
            width: 100%;
            height: 370px;
        }

        &::before {
            content: 'Скрин карты';
            font-weight: 500;
            font-size: 36px;
            line-height: 106%;
            letter-spacing: -0.1px;
            color: rgba(0, 0, 0, 0.15);
            position: absolute;
            left: 42px;
            bottom: 32px;
        }
    }

}