.documents {
    width: 100%;
    margin-top: 73px;
    margin-bottom: 165px;

    @include responsive(mobile) {
        margin-top: 28px;
        margin-bottom: 264px;
    }

    &__fiels {
        @include flex(column);
        align-items: flex-start;
        margin-top: 26px;

        @include responsive(mobile) {
            margin-top: 16px;
        }
        
        a {
            font-size: 24px;
            line-height: 106%;
            letter-spacing: -0.1px;
            color: $text-black;
            margin-top: 44px;

            @include responsive(mobile) {
                margin-top: 30px;
                font-size: 22px;
                line-height: 106%;
            }
        }
    }
}

.document-title {
    font-size: 72px;
    font-weight: normal;
    line-height: 100%;
    letter-spacing: -0.179375px;
    color: $text-black;
    
    @include responsive(mobile) {
        font-size: 48px;
        line-height: 49px;
    }
}