// Fonts
$global-fonts: 'Rubik', sans-serif;
$nav-fonts: 'Source Code Pro', monospace;

// Colors
$bg-gray: #EFEFEF;
$bg-gray-2: #E6E6E6;
$bg-green: #0C4034;
$bg-blue: #406FED;
$bg-pink: #FACBD5;
$bg-orange: #F38C6D;

$nav-black: #111111;
$text-black: #000000;

